<div class="center">
  <div class="row">
    <form [formGroup]="employee" (ngSubmit)="submit()">
      <div class="form-group flex">
        <input
          type="name"
          class="form-controol"
          formControlName="name"
          placeholder="Name:"
        />
      </div>
      <div class="form-group flex">
        <input
          type="number"
          placeholder="Salary:"
          class="form-controol"
          formControlName="salary"
        />
      </div>
      <div class="form-group flex">
      
        <input
          type="number"
          placeholder="Age:"
          class="form-controol"
          formControlName="age"
        />
      </div>
      <div class="btn-group">
      <button type="submit" class="btn btn-primary " aria-current="page">
        <!-- {{ editMode ? "Update" : "Register" }} -->
        Register
      </button> 
      <button
      type="button"
      class="btn btn-primary"
      (click)="UpdateEmployee()"
    >
      update employee
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="DelateEmployee()"
    >
      Delate employee
    </button>
  </div>
      <!-- *ngIf="arrEmp.length && showlist" -->
      <div class="row height">
        <ul class="list-group w">
          <ng-container *ngFor="let emp of pageinatedData; let i = index">
            <app-employees
              [emp]="emp"
              (clickItem)="onEditItem(i)"
            ></app-employees>
          </ng-container>
        </ul>
      </div>
      <app-pagination
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentPage"
        [page]="page"
        (onClick)="cangePage($event)"
      ></app-pagination>
    </form>
   
  </div>
</div>
