.flex-column{
    display: flex;
    flex-direction:column;
}
.flex-row{
    display: flex;
    flex-direction:row;
}
.center{
   margin-top:10%;
   margin-left: 5%;
}
.from-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
