<div class="fixed-top sticky">
<ul class="position-relative">
  <div class="m-l-2">
    <li>
      <a
        routerLinkActive="active"
        aria-current="page"
        routerLink="/"
        [routerLinkActiveOptions]="{exact:true}"
        >Home</a
      >
    </li>
    <li>
      <a routerLink="registering-employee" routerLinkActive="active"
        >Employees</a
      >
    </li>
    <li><a routerLink="currency" routerLinkActive="active">Currency</a></li>
    <li><a routerLink="register" routerLinkActive="active">Register</a></li>
    <li><a routerLink="users"  routerLinkActive="active">Users</a></li>
  </div>
  <!-- {{ isloged ? 'Logout' : 'Login' }} -->
  <li class="position-absolute" routerLink="/" (click)="logout()"><a href="#about">{{LoginOrLogout|async}}</a></li>

</ul>
</div>